@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('reset.css');
@import url('pe-icon-7-stroke.css');
@import url('helper.css');

/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --nav-color: #1abc9c;
}

html {
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    width: 1110px;
    height: auto;
    margin: 0 auto;
    font-size: 0;
}

.clearfix {}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-wrapper {
    margin: 0 auto;
    width: 1110px;
    height: 54px;
    padding-top: 36px;
}


.logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    float: left;
    text-decoration: none;
    color: #0f0101;
}

.logo a::first-letter {
    font-family: 'Roboto Black', 'Roboto', sans-serif;
    font-weight: 900;
    color: var(--nav-color);
}

.top-menu {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 0;
}

.header-wrapper ul li {
    display: inline-block;
    list-style-type: none;
    line-height: 32px;
    padding: 0;
    margin-right: 35px;
    font-size: 14px;
}

.header-wrapper ul li:last-child {
    margin-right: 0;
}

.header-wrapper ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
    font-weight: bold;
    letter-spacing: -1px;
}

.header-wrapper ul li a:hover {
    color: var(--nav-color);
}

/* SLIDER */

.slider {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/slide4.png");
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    background-position: center top;
    background-size: cover;
    position: relative;
}

.leftnav,
.rightnav {
    position: absolute;
    width: 105px;
    height: 105px;
    background-color: var(--nav-color);
    color: white;
    font-size: 105px;
    top: 226px;
    position: absolute;
}

.leftnav {
    left: calc(50% - 555px);
}

.rightnav {
    right: calc(50% - 555px);
    /* left: calc(1110px - 186px); */
}

.slidercontent {
    width: 1110px;
    margin: 0 auto;
    position: absolute;
    top: 218px;
    left: 186px;
    left: calc(50% + 186px);
    transform: translate(-50%, 0%);
}

.slidertitle {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -1px;
    font-family: 'Roboto Black', 'Roboto', sans-serif;
    font-weight: 900;
}

.slidersubtitle {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    font-family: 'Roboto Light', 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24px;
    line-height: 54px;
    top: 82px;
}

/* END OF SLIDER  */

.main-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #e9f0fd;
}

.newcollection {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0 0 0;
    display: block;
    height: auto;
}

h2.section-title {
    font-family: 'Roboto Black', 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 48px;
    margin: 0 auto 130px;
    float: none;
}

h2.section-title:hover:after {
    content: "";
    display: block;
    max-width: 165px;
    border-bottom: 7px solid var(--nav-color);
    margin: 30px auto -37px;
}

/* NEW COLLECTION SECTION */

.item-wrapper {
    display: inline-block;
    float: left;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    height: auto;
    width: 255px;
    height: 322px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.item-wrapper:nth-child(4n+1) {
    margin-right: 0;
}

.item-wrapper:last-child {
    margin-bottom: 100px;
}

/* .item-wrapper:last-child::after {
    display: inline-block;
    width: 100%;
    content: "";
    clear: both;
    text-align: center;
} */

.img-wrapper {
    display: block;
    text-align: center;
    height: 282px;
}

.img-wrapper img {
    margin: 0;
    max-width: 232px;
    max-height: 282px;
    display: inline-block;
}

.item-name {
    background: #323232;
    font-family: 'Roboto Black', 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    padding-left: 14px;
    padding-top: 11px;
    margin: 0;
    width: 200px;
    height: 40px;
    display: block;
    position: absolute;
    top: 282px;
    color: #fff;
    overflow: hidden;
}

.item-price {
    background: #8c8c8c;
    font-family: 'Roboto Black', 'Roboto', sans-serif;
    font-size: 18px;
    padding-top: 11px;
    margin: 0;
    width: 55px;
    height: 40px;
    color: #fff;
    display: block;
    position: absolute;
    top: 282px;
    left: 200px;
    text-align: center;
}

.item-price::before {
    content: '$';
}

.item-wrapper:hover>.item-price {
    background-color: #7fd9c7;
}

.item-wrapper:hover>.item-name {
    background-color: var(--nav-color);
}

/* ITEM SUBMENU */

.item-menu {
    display: none;
    /* display: block; */
    position: absolute;
    top: 13px;
    left: 11px;
    width: 232px;
    height: 256px;
    /* background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition-property: background-color; */
}

/* .item-wrapper:hover > .item-menu:after {
    content: "\e642";   /* pe-icon-7-like */
/* border: 1px solid #fff;
    color: #fff;
    font-size: 40px;
    padding-top: 5px;
    position: absolute;
    top: 92px;
    left: 46px;
    width: 50px;
    height: 50px;
    z-index: 100; */

/* pe-icon-7 styles */

/* font-family: 'Pe-icon-7-stroke';
    speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; */
/* Better Font Rendering =========== */
/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

.item-button {
    color: #fff;
    border: 1px solid #fff;
    margin: 0;
    margin-top: 80px;
    margin-right: 5px; 
    width: 34px;
    height: 34px;
    font-size: 40px;
    padding: 8px 11px 8px 5px;
    /* display: none; */
    display: inline-block;
    float: left;
}

.item-button:nth-child(3n-2) {
    margin-left: 36px;
}

.item-button:nth-child(n+3) {
    margin-right: 0;
}

.addtocart {
    margin-top: 5px;
    width: 148px;
    background-color: #323232;
}

.addtocart:after {
    content: "ADD TO CART";
    display: block;
    position: relative;
    bottom: 28px;
    left: 55px;
    font-size: 14px;
    letter-spacing: -1px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.item-button:hover {
    background-color: var(--nav-color);
}


.item-wrapper:hover>.item-menu {
    display: block;
}

.item-wrapper:hover>.item-menu {
    background-color: rgba(0, 0, 0, 0.5);
}

/* .item-wrapper:hover>.item-button {
    transition-delay: 0.5s;
} */

/* FOOTER */

.footer-wrapper {
    display: block;
    margin: 0;
    width: 100%;
    height: 55px;
    background: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 0;
    padding-top: 35px;
    text-align: center;
}

.footer-wrapper a {
    color: var(--nav-color);
}